body {
  font-family: "Consolas", monospace;
  height: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.0;
  background: linear-gradient(to bottom right, #ffc155, #ff3b99);
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #4c00ff;
  color: #fff;
  padding: 1rem;
  text-align: left;
}

h1 {
  font-size: 20vw;
  margin: -1rem 1rem -2rem 1rem;
}

h2 {
  font-size: 2rem;
  margin: 1rem;
}

.main-section {
  flex-grow: 1;
  font-size: large;
  padding: 1rem;
}

p {
  font-size: 1rem;
  margin: 1rem;
}

button {
  position: relative;
  padding: 8px 12px;
  color: white;
  font-size: 1.2rem;
  font-family: "Consolas", monospace;
  border: none;
  border-radius: 5px;
  margin: 6px;
  background-color: #0000FF;
}
button:hover{
  background-color: #0000EE;
  cursor: pointer;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #4c00ff;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
  
